@use '../../styles/var' as *;
@use '../../styles/animations' as *;

// Importación secciones Portfolio
@use 'sec-introduccion' as *;
@use 'sec-sobre-mi' as *;
@use 'sec-conocimientos' as *;
@use 'sec-proyectos' as *;
@use 'sec-contacto' as *;

// Contenedor principal Portfolio
.portfolio-main-cont{
    width: 100%;
    margin: 0 auto;
    padding: 5rem 0 0 0;
    gap: 5rem;

    @media (max-width: 1024px){
        padding-top: 3.8rem;
    }
    @media (max-width: 768px){
        padding-top: 2.5rem;
    }
    @media (max-width: 480px){
        padding-top: 0;
    }

  

    // Contenedor Sección Introducción
    @include seccion-introduccion;

    // Contenedor Sección Sobre Mí
    @include seccion-sobre-mi;

    // Contenedor Sección Conocimientos
    @include seccion-conocimientos;

    // Contenedor Sección Proyectos
    @include seccion-proyectos;

    // Contenedor sección Contacto
    @include seccion-contacto;
}
