@use '../../styles/var' as *;
@use '../../styles/animations' as *;

@mixin seccion-introduccion{
    
    .portfolio-introduccion-cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
        
        .portfolio-introduccion-cont-1{
            display: flex;
            flex-direction: row;
            box-shadow: 16px 16px 4px rgba(0, 0, 0, 0.30);
            padding: 2rem;
            height: 448px;
            background-color: $blanco-principal;
            border-radius: 5px;
            align-items: center;
            
            // Textos de Introducción
            p{
                margin: 0;
                padding: 0;
            }
            #name{
                left: -40px;
                position: relative;
                font-size: 2.8rem;
                color: $negro;
                text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
                
            }
            #lastname{
                left: -40px;
                position: relative;
                margin: 0;
                font-size: 3rem;
                color: $negro;
                text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
            }

            // Descripción h1 con su animación
            #desc{
                text-align: center;
                font-size: 2.5rem;
                color: $blanco-principal;
                margin: 0 5rem;
                position: relative;
                display: inline-block;
                text-shadow: 1px 1px #ff00c1, -1px -1px #00f4ff;
                animation: glitch 2s infinite;
            }
            .glitch-sec{
                width: 512px;
                left: -65px;
                background-color: $negro;
                border-radius: 5px; 
                padding: 0.5rem;
                position: relative;
                box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.25);

            }
            #desc::before,
            #desc::after{
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $negro;
                overflow: hidden;
                clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
                opacity: 0.7;
            }
            #desc::before{
                left: 1px;
                text-shadow: -1px 0 #ff0000;
                animation: glitch-top 2s infinite;
            }

            #desc::after{
                left: -1px;
                text-shadow: -1px 0 #0000ff;
                animation: glitch-bottom 2s infinite;
            }

            // Animación Glitch Introducción
            @include glitch-animation;

            // Imagen de Introducción
            .introduccion-img{
                width: 384px;
                height: 288px;
                z-index: 99;
            }
        }

        .portfolio-introduccion-cont-2{
            display: flex;
            justify-content: center;
            @include portfolio-containers;
            // Flecha inferior Introducción y su animación
            .flecha-img{
                filter: invert(1);
                width: 64px;
                height: 80px;
                animation: subirBajar 2.5s ease-in-out infinite;
                margin: 0 auto;
            }

            // Animación movimiento flecha Introducción
            @include movimiento-flecha-introduccion;
        }
    }   

    // Reducido un 25%
    @media (max-width:1024px){
        .portfolio-introduccion-cont {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 0.75rem; /* 1rem -> reducido un 25% */
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            gap: 0.75rem; /* 1rem -> reducido un 25% */
            
            .portfolio-introduccion-cont-1 {
                display: flex;
                flex-direction: row;
                box-shadow: 9px 9px 2.25px rgba(0, 0, 0, 0.30); /* Reducido un 25% */
                padding: 1.5rem; /* 2rem -> reducido un 25% */
                height: 336px; /* 448px -> reducido un 25% */
                background-color: $blanco-principal;
                border-radius: 3.75px; /* 5px -> reducido un 25% */
                align-items: center;
                
                // Textos de Introducción
                p {
                    margin: 0;
                    padding: 0;
                }
                #name {
                    left: -30px; /* -40px -> reducido un 25% */
                    position: relative;
                    font-size: 2.1rem; /* 2.8rem -> reducido un 25% */
                    color: $negro;
                    text-shadow: 2.25px 2.25px 1.5px rgba(0, 0, 0, 0.5); /* Reducido un 25% */
                }
                #lastname {
                    left: -30px; /* -40px -> reducido un 25% */
                    position: relative;
                    margin: 0;
                    font-size: 2.25rem; /* 3rem -> reducido un 25% */
                    color: $negro;
                    text-shadow: 2.25px 2.25px 1.5px rgba(0, 0, 0, 0.5); /* Reducido un 25% */
                }
    
                // Descripción h1 con su animación
                #desc {
                    text-align: center;
                    font-size: 1.875rem; /* 2.5rem -> reducido un 25% */
                    color: $blanco-principal;
                    margin: 0 3.75rem; /* 5rem -> reducido un 25% */
                    position: relative;
                    display: inline-block;
                    text-shadow: 0.75px 0.75px #ff00c1, -0.75px -0.75px #00f4ff; /* Reducido un 25% */
                    animation: glitch 2s infinite;
                }
                .glitch-sec {
                    width: 384px; /* 512px -> reducido un 25% */
                    left: -48.75px; /* -65px -> reducido un 25% */
                    background-color: $negro;
                    border-radius: 3.75px; /* 5px -> reducido un 25% */
                    padding: 0.375rem; /* 0.5rem -> reducido un 25% */
                    position: relative;
                    box-shadow: 4.5px 3.375px 1.125px rgba(0, 0, 0, 0.25); /* Reducido un 25% */
                }
                #desc::before,
                #desc::after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $negro;
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
                    opacity: 0.7;
                }
                #desc::before {
                    left: 0.75px; /* 1px -> reducido un 25% */
                    text-shadow: -0.75px 0 #ff0000; /* Reducido un 25% */
                    animation: glitch-top 2s infinite;
                }
    
                #desc::after {
                    left: -0.75px; /* -1px -> reducido un 25% */
                    text-shadow: -0.75px 0 #0000ff; /* Reducido un 25% */
                    animation: glitch-bottom 2s infinite;
                }
    
                // Animación Glitch Introducción
                @include glitch-animation;
    
                // Imagen de Introducción
                .introduccion-img {
                    width: 288px; /* 384px -> reducido un 25% */
                    height: 216px; /* 288px -> reducido un 25% */
                    z-index: 99;
                }
            }
    
            .portfolio-introduccion-cont-2 {
                display: flex;
                justify-content: center;
                @include portfolio-containers;
                // Flecha inferior Introducción y su animación
                .flecha-img {
                    filter: invert(1);
                    width: 48px; /* 64px -> reducido un 25% */
                    height: 60px; /* 80px -> reducido un 25% */
                    animation: subirBajar 2.5s ease-in-out infinite;
                    margin: 0 auto;
                }
    
                // Animación movimiento flecha Introducción
                @include movimiento-flecha-introduccion;
            }
        }        
    }
    // Reducido un 50%
    @media (max-width: 768px){
        .portfolio-introduccion-cont {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 0.5rem; /* 1rem -> reducido un 50% */
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            gap: 0.5rem; /* 1rem -> reducido un 50% */
            
            .portfolio-introduccion-cont-1 {
                display: flex;
                flex-direction: row;
                box-shadow: 6px 6px 1.5px rgba(0, 0, 0, 0.30); /* Reducido un 50% */
                padding: 1rem; /* 2rem -> reducido un 50% */
                height: 224px; /* 448px -> reducido un 50% */
                background-color: $blanco-principal;
                border-radius: 2.5px; /* 5px -> reducido un 50% */
                align-items: center;
                
                // Textos de Introducción
                p {
                    margin: 0;
                    padding: 0;
                }
                #name {
                    left: -20px; /* -40px -> reducido un 50% */
                    position: relative;
                    font-size: 1.4rem; /* 2.8rem -> reducido un 50% */
                    color: $negro;
                    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.5); /* Reducido un 50% */
                }
                #lastname {
                    left: -20px; /* -40px -> reducido un 50% */
                    position: relative;
                    margin: 0;
                    font-size: 1.5rem; /* 3rem -> reducido un 50% */
                    color: $negro;
                    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.5); /* Reducido un 50% */
                }
    
                // Descripción h1 con su animación
                #desc {
                    text-align: center;
                    font-size: 1.25rem; /* 2.5rem -> reducido un 50% */
                    color: $blanco-principal;
                    margin: 0 2.5rem; /* 5rem -> reducido un 50% */
                    position: relative;
                    display: inline-block;
                    text-shadow: 0.5px 0.5px #ff00c1, -0.5px -0.5px #00f4ff; /* Reducido un 50% */
                    animation: glitch 2s infinite;
                }
                .glitch-sec {
                    width: 256px; /* 512px -> reducido un 50% */
                    left: -32.5px; /* -65px -> reducido un 50% */
                    background-color: $negro;
                    border-radius: 2.5px; /* 5px -> reducido un 50% */
                    padding: 0.25rem; /* 0.5rem -> reducido un 50% */
                    position: relative;
                    box-shadow: 3px 2.5px 1px rgba(0, 0, 0, 0.25); /* Reducido un 50% */
                }
                #desc::before,
                #desc::after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $negro;
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
                    opacity: 0.7;
                }
                #desc::before {
                    left: 0.5px; /* 1px -> reducido un 50% */
                    text-shadow: -0.5px 0 #ff0000; /* Reducido un 50% */
                    animation: glitch-top 2s infinite;
                }
    
                #desc::after {
                    left: -0.5px; /* -1px -> reducido un 50% */
                    text-shadow: -0.5px 0 #0000ff; /* Reducido un 50% */
                    animation: glitch-bottom 2s infinite;
                }
    
                // Animación Glitch Introducción
                @include glitch-animation;
    
                // Imagen de Introducción
                .introduccion-img {
                    width: 192px; /* 384px -> reducido un 50% */
                    height: 144px; /* 288px -> reducido un 50% */
                    z-index: 99;
                }
            }
    
            .portfolio-introduccion-cont-2 {
                display: flex;
                justify-content: center;
                @include portfolio-containers;
                // Flecha inferior Introducción y su animación
                .flecha-img {
                    filter: invert(1);
                    width: 32px; /* 64px -> reducido un 50% */
                    height: 40px; /* 80px -> reducido un 50% */
                    animation: subirBajar 2.5s ease-in-out infinite;
                   
                }
    
                // Animación movimiento flecha Introducción
                @include movimiento-flecha-introduccion;
            }
        }    
    }

    // Reducido un 65%
    @media (max-width: 480px){
        .portfolio-introduccion-cont {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 0.3515625rem; /* 1rem -> reducido un 75% */
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            gap: 0.3515625rem; /* 1rem -> reducido un 75% */
            
            .portfolio-introduccion-cont-1 {
                display: flex;
                flex-direction: row;
                box-shadow: 5.90625px 5.90625px 1.4765625px rgba(0, 0, 0, 0.30); /* Reducido un 75% */
                padding: 0.703125rem; /* 2rem -> reducido un 75% */
                height: 157.5px; /* 448px -> reducido un 75% */
                background-color: $blanco-principal;
                border-radius: 1.7578125px; /* 5px -> reducido un 75% */
                align-items: center;
                
                // Textos de Introducción
                p {
                    margin: 0;
                    padding: 0;
                }
                #name {
                    left: -14.0625px; /* -40px -> reducido un 75% */
                    position: relative;
                    font-size: 0.984375rem; /* 2.8rem -> reducido un 75% */
                    color: $negro;
                    text-shadow: 0.87890625px 0.87890625px 0.703125px rgba(0, 0, 0, 0.5); /* Reducido un 75% */
                }
                #lastname {
                    left: -14.0625px; /* -40px -> reducido un 75% */
                    position: relative;
                    margin: 0;
                    font-size: 1.0546875rem; /* 3rem -> reducido un 75% */
                    color: $negro;
                    text-shadow: 0.87890625px 0.87890625px 0.703125px rgba(0, 0, 0, 0.5); /* Reducido un 75% */
                }
    
                // Descripción h1 con su animación
                #desc {
                    text-align: center;
                    font-size: 0.87890625rem; /* 2.5rem -> reducido un 75% */
                    color: $blanco-principal;
                    margin: 0 1.7578125rem; /* 5rem -> reducido un 75% */
                    position: relative;
                    display: inline-block;
                    text-shadow: 0.3515625px 0.3515625px #ff00c1, -0.3515625px -0.3515625px #00f4ff; /* Reducido un 75% */
                    animation: glitch 2s infinite;
                }
                .glitch-sec {
                    width: 180px; /* 512px -> reducido un 75% */
                    left: -18.984375px; /* -65px -> reducido un 75% */
                    background-color: $negro;
                    border-radius: 1.7578125px; /* 5px -> reducido un 75% */
                    padding: 0.17578125rem; /* 0.5rem -> reducido un 75% */
                    position: relative;
                    box-shadow: 2.4609375px 1.7578125px 0.703125px rgba(0, 0, 0, 0.25); /* Reducido un 75% */
                }
                #desc::before,
                #desc::after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $negro;
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
                    opacity: 0.7;
                }
                #desc::before {
                    left: 0.3515625px; /* 1px -> reducido un 75% */
                    text-shadow: -0.3515625px 0 #ff0000; /* Reducido un 75% */
                    animation: glitch-top 2s infinite;
                }
    
                #desc::after {
                    left: -0.3515625px; /* -1px -> reducido un 75% */
                    text-shadow: -0.3515625px 0 #0000ff; /* Reducido un 75% */
                    animation: glitch-bottom 2s infinite;
                }
    
                // Animación Glitch Introducción
                @include glitch-animation;
    
                // Imagen de Introducción
                .introduccion-img {
                    width: 135px; /* 384px -> reducido un 75% */
                    height: 101.25px; /* 288px -> reducido un 75% */
                    z-index: 99;
                }
            }
    
            .portfolio-introduccion-cont-2 {
                display: flex;
                justify-content: center;
                @include portfolio-containers;
                // Flecha inferior Introducción y su animación
                .flecha-img {
                    filter: invert(1);
                    width: 22.5px; /* 64px -> reducido un 75% */
                    height: 28.125px; /* 80px -> reducido un 75% */
                    animation: subirBajar 2.5s ease-in-out infinite;
                    margin: 0 auto;
                }
    
                // Animación movimiento flecha Introducción
                @include movimiento-flecha-introduccion;
            }
        }    
    
    }
}