@use '../../styles/var' as *;
@use '../../styles/animations' as *;

@mixin seccion-sobre-mi{
    .portfolio-sobre-mi-cont{
        @include portfolio-containers;
        .portfolio-sobre-mi-cont-1{
            @include section-title-container;
        }

        .portfolio-sobre-mi-cont-2{
           
            border: 0.5rem solid $blanco-principal;
            border-radius: 5px;
            padding: 2rem;
            box-shadow: 16px 16px 4px rgba(0, 0, 0, 0.30);
            background-color: $negro;
            overflow: auto;
         
            .sobre-mi-img{
                float: left;
                width: 16rem;
                height: 16rem;
                shape-outside: circle(50%); 
                border-radius: 50%;
                border: 4px solid $blanco-principal;
                margin-right: 1rem;
            }
            #parrafo-sobre-mi{
                color: $blanco-principal;
                font-size: 1.2rem;
                line-height: 1.6;
                text-align: justify;
            }
        }
    }
    @media (max-width: 1024px){
        .portfolio-sobre-mi-cont {
            @include portfolio-containers;
        
            .portfolio-sobre-mi-cont-1 {
                @include section-title-container;
            }
        
            .portfolio-sobre-mi-cont-2 {
                border: 0.375rem solid $blanco-principal; /* 0.5rem * 0.75 */
                border-radius: 5px;
                padding: 1.5rem; /* 2rem * 0.75 */
                box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.30); /* 16px, 4px * 0.75 */
                background-color: $negro;
                overflow: auto;
        
                .sobre-mi-img {
                    float: left;
                    width: 12rem; /* 16rem * 0.75 */
                    height: 12rem; /* 16rem * 0.75 */
                    shape-outside: circle(50%); 
                    border-radius: 50%; /* Sin cambios, ya que es un porcentaje */
                    border: 3px solid $blanco-principal; /* 4px * 0.75 */
                    margin-right: 0.75rem; /* 1rem * 0.75 */
                }
        
                #parrafo-sobre-mi {
                    color: $blanco-principal;
                    font-size: 0.9rem; /* 1.2rem * 0.75 */
                    line-height: 1.2; /* 1.6 * 0.75 */
                    text-align: justify;
                }
            }
        }
    }
    @media (max-width: 768px){
        .portfolio-sobre-mi-cont {
            @include portfolio-containers;
        
            .portfolio-sobre-mi-cont-1 {
                @include section-title-container;
            }
        
            .portfolio-sobre-mi-cont-2 {
                border: 0.25rem solid $blanco-principal;
                border-radius: 2.5px;
                padding: 1rem;
                box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.30);
                background-color: $negro;
                overflow: auto;
        
                .sobre-mi-img {
                    float: left;
                    width: 8rem;
                    height: 8rem;
                    shape-outside: circle(50%);
                    border-radius: 50%;
                    border: 2px solid $blanco-principal;
                    margin-right: 0.5rem;
                }
        
                #parrafo-sobre-mi {
                    color: $blanco-principal;
                    font-size: 0.6rem;
                    line-height: 0.8;
                    text-align: justify;
                }
            }
        }
    }
    @media (max-width: 480px){
        .portfolio-sobre-mi-cont {
            @include portfolio-containers;
        
            .portfolio-sobre-mi-cont-1 {
                @include section-title-container;
            }
        
            .portfolio-sobre-mi-cont-2 {
                border: 0.175rem solid $blanco-principal;
                border-radius: 1.75px;
                padding: 0.7rem;
                box-shadow: 5.6px 5.6px 1.4px rgba(0, 0, 0, 0.30);
                background-color: $negro;
                overflow: auto;
        
                .sobre-mi-img {
                    float: left;
                    width: 5.6rem;
                    height: 5.6rem;
                    shape-outside: circle(50%);
                    border-radius: 50%;
                    border: 1.4px solid $blanco-principal;
                    margin-right: 0.35rem;
                }
        
                #parrafo-sobre-mi {
                    color: $blanco-principal;
                    font-size: 0.42rem;
                    line-height: 0.56;
                    text-align: justify;
                }
            }
        }
    }
}