@use '../../styles/var' as *;
@use '../../styles/animations' as *;

@mixin seccion-introduccion{
    
    .portfolio-introduccion-cont{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
        max-width: 60rem;
        width: 100%;

        
        .portfolio-introduccion-cont-1{
            display: flex;
            flex-direction: row;
            box-shadow: 16px 16px 4px rgba(0, 0, 0, 0.30);
            padding: 2rem;
            height: 448px;
            background-color: $blanco-principal;
            border-radius: 5px;
            align-items: center;
            
            // Textos de Introducción
            p{
                margin: 0;
                padding: 0;
            }
            #name{
                left: -40px;
                position: relative;
                font-size: 2.8rem;
                color: $negro;
                text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
                
            }
            #lastname{
                left: -40px;
                position: relative;
                margin: 0;
                font-size: 3rem;
                color: $negro;
                text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
            }

            // Descripción h1 con su animación
            #desc{
                text-align: center;
                font-size: 2.5rem;
                color: $blanco-principal;
                margin: 0 5rem;
                position: relative;
                display: inline-block;
                text-shadow: 1px 1px #ff00c1, -1px -1px #00f4ff;
                animation: glitch 2s infinite;
            }
            .glitch-sec{
                width: 512px;
                left: -65px;
                background-color: $negro;
                border-radius: 5px; 
                padding: 0.5rem;
                position: relative;
                box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.25);

            }
            #desc::before,
            #desc::after{
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $negro;
                overflow: hidden;
                clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
                opacity: 0.7;
            }
            #desc::before{
                left: 1px;
                text-shadow: -1px 0 #ff0000;
                animation: glitch-top 2s infinite;
            }

            #desc::after{
                left: -1px;
                text-shadow: -1px 0 #0000ff;
                animation: glitch-bottom 2s infinite;
            }

            // Animación Glitch Introducción
            @include glitch-animation;

            // Imagen de Introducción
            .introduccion-img{
                width: 384px;
                height: 288px;
                z-index: 99;
            }
        }

        .portfolio-introduccion-cont-2{
            display: flex;
            justify-content: center;
            @include portfolio-containers;
            // Flecha inferior Introducción y su animación
            .flecha-img{
                width: 64px;
                height: 80px;
                animation: subirBajar 2.5s ease-in-out infinite;
                margin: 0 auto;
            }

            // Animación movimiento flecha Introducción
            @include movimiento-flecha-introduccion;
        }
    }   

    // Reducido un 25%
    @media (max-width:1024px){
        .portfolio-introduccion-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            max-width: 45rem;
            width: 100%;
            
            .portfolio-introduccion-cont-1 {
                display: flex;
                flex-direction: row;
                box-shadow: 9px 9px 2.25px rgba(0, 0, 0, 0.30); 
                padding: 1.5rem; 
                height: 336px; 
                background-color: $blanco-principal;
                border-radius: 3.75px; 
                align-items: center;
                
                // Textos de Introducción
                p {
                    margin: 0;
                    padding: 0;
                }
                #name {
                    left: -30px; 
                    position: relative;
                    font-size: 2.1rem; 
                    color: $negro;
                    text-shadow: 2.25px 2.25px 1.5px rgba(0, 0, 0, 0.5); 
                }
                #lastname {
                    left: -30px;
                    position: relative;
                    margin: 0;
                    font-size: 2.25rem; 
                    color: $negro;
                    text-shadow: 2.25px 2.25px 1.5px rgba(0, 0, 0, 0.5); 
                }
    
                // Descripción h1 con su animación
                #desc {
                    text-align: center;
                    font-size: 1.875rem; 
                    color: $blanco-principal;
                    margin: 0 3.75rem; 
                    position: relative;
                    display: inline-block;
                    text-shadow: 0.75px 0.75px #ff00c1, -0.75px -0.75px #00f4ff; 
                    animation: glitch 2s infinite;
                }
                .glitch-sec {
                    width: 384px; 
                    left: -48.75px; 
                    background-color: $negro;
                    border-radius: 3.75px; 
                    padding: 0.375rem; 
                    position: relative;
                    box-shadow: 4.5px 3.375px 1.125px rgba(0, 0, 0, 0.25); 
                }
                #desc::before,
                #desc::after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $negro;
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
                    opacity: 0.7;
                }
                #desc::before {
                    left: 0.75px;
                    text-shadow: -0.75px 0 #ff0000; 
                    animation: glitch-top 2s infinite;
                }
    
                #desc::after {
                    left: -0.75px; 
                    text-shadow: -0.75px 0 #0000ff; 
                    animation: glitch-bottom 2s infinite;
                }
    
                // Animación Glitch Introducción
                @include glitch-animation;
    
                // Imagen de Introducción
                .introduccion-img {
                    width: 288px; 
                    height: 216px; 
                    z-index: 99;
                }
            }
    
            .portfolio-introduccion-cont-2 {
                display: flex;
                justify-content: center;
                @include portfolio-containers;
                // Flecha inferior Introducción y su animación
                .flecha-img {
                    width: 48px; 
                    height: 60px;
                    animation: subirBajar 2.5s ease-in-out infinite;
                }
    
                // Animación movimiento flecha Introducción
                @include movimiento-flecha-introduccion;
            }
        }        
    }
    // Reducido un 40%
    @media (max-width: 768px){
        .portfolio-introduccion-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            max-width: 36rem;
            width: 100%;
            
            
            .portfolio-introduccion-cont-1 {
                width: 95%;
                display: flex;
                flex-direction: row;
                box-shadow: 8.8px 8.8px 2.2px rgba(0, 0, 0, 0.30);
                padding: 1.1rem;
                height: 246.4px;
                background-color: $blanco-principal;
                border-radius: 2.75px;
                align-items: center;
        
                // Textos de Introducción
                p {
                    margin: 0;
                    padding: 0;
                }
                #name {
                    left: -22px;
                    position: relative;
                    font-size: 1.54rem;
                    color: $negro;
                    text-shadow: 1.65px 1.65px 1.1px rgba(0, 0, 0, 0.5);
                }
                #lastname {
                    left: -22px;
                    position: relative;
                    margin: 0;
                    font-size: 1.65rem;
                    color: $negro;
                    text-shadow: 1.65px 1.65px 1.1px rgba(0, 0, 0, 0.5);
                }
        
                // Descripción h1 con su animación
                #desc {
                    text-align: center;
                    font-size: 1.375rem;
                    color: $blanco-principal;
                    margin: 0 2.75rem;
                    position: relative;
                    display: inline-block;
                    text-shadow: 0.55px 0.55px #ff00c1, -0.55px -0.55px #00f4ff;
                    animation: glitch 2s infinite;
                }
                .glitch-sec {
                    width: 281.6px;
                    left: -35.75px;
                    background-color: $negro;
                    border-radius: 2.75px;
                    padding: 0.275rem;
                    position: relative;
                    box-shadow: 4.4px 3.3px 1.1px rgba(0, 0, 0, 0.25);
                }
                #desc::before,
                #desc::after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $negro;
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 0, 100% 24.75%, 0 24.75%);
                    opacity: 0.7;
                }
                #desc::before {
                    left: 0.55px;
                    text-shadow: -0.55px 0 #ff0000;
                    animation: glitch-top 2s infinite;
                }
        
                #desc::after {
                    left: -0.55px;
                    text-shadow: -0.55px 0 #0000ff;
                    animation: glitch-bottom 2s infinite;
                }
        
                // Animación Glitch Introducción
                @include glitch-animation;
        
                // Imagen de Introducción
                .introduccion-img {
                    width: 211.2px;
                    height: 158.4px;
                    z-index: 99;
                }
            }
        
            .portfolio-introduccion-cont-2 {
                display: flex;
                justify-content: center;
                @include portfolio-containers;
        
                // Flecha inferior Introducción y su animación
                .flecha-img {
                    width: 40,656px;
                    height: 50.6px;
                    animation: subirBajar 2.5s ease-in-out infinite;
                    margin: 0 auto;
                }
        
                // Animación movimiento flecha Introducción
                @include movimiento-flecha-introduccion;
            }
        }
    }

    // Reducido un 60%
    @media (max-width: 480px){
        .portfolio-introduccion-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 100%;
            
            .portfolio-introduccion-cont-1 {
                height: 100%;
                width: 100%;
                justify-content: center;
                display: flex;
                flex-direction: column;
                box-shadow: 6.4px 6.4px 1.6px rgba(0, 0, 0, 0.30);
                background-color: $blanco-principal;
                border-radius: 2px;
                padding-bottom: 2rem;
                
                
                .intro-info{
                    order: 1;
                    width: 100%;
                    margin: 0.5rem 0 2rem 0;
                }

                // Textos de Introducción
                p {
                    margin: 0;
                    text-align: center;
                    padding: 0;
                    color: $negro;
                    text-shadow: 1.2px 1.2px 0.8px rgba(0, 0, 0, 0.5);
                }
                #name,
                #lastname{
                    font-weight: bolder;
                    width: 100%;
                    margin: 0;
                    font-size: 1.8rem;
                    left: 0px;
                }
        
                // Descripción h1 con su animación
                #desc {
                    font-size: 1.8rem;
                    color: $blanco-principal;
                    text-shadow: 0.4px 0.4px #ff00c1, -0.4px -0.4px #00f4ff;
                    animation: glitch 2s infinite;
                }
                .glitch-sec {
                    width: 100%;
                    margin: 0.5rem auto 0 auto;
                    left: 0px;
                    background-color: $negro;
                    border-radius: 2px;
                    box-shadow: 3.2px 2.4px 0.8px rgba(0, 0, 0, 0.25);
                }
                #desc::before,
                #desc::after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $negro;
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
                    opacity: 0.7;
                }
                #desc::before {
                    left: 0.4px;
                    text-shadow: -0.4px 0 #ff0000;
                    animation: glitch-top 2s infinite;
                }
        
                #desc::after {
                    left: -0.4px;
                    text-shadow: -0.4px 0 #0000ff;
                    animation: glitch-bottom 2s infinite;
                }
        
                // Animación Glitch Introducción
                @include glitch-animation;
        
                // Imagen de Introducción
                .introduccion-img {
                    width: 18rem;
                    height: auto;
                    z-index: 99;
                    order: 2;
                    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)), ;
                }
            }
        
            .portfolio-introduccion-cont-2 {
                display: flex;
                justify-content: center;
                @include portfolio-containers;
        
                // Flecha inferior Introducción y su animación
                .flecha-img {
                    width: 4rem;
                    height: auto;
                    animation: subirBajar 2.5s ease-in-out infinite;
                    margin: 2rem auto 2rem auto;
                }
        
                // Animación movimiento flecha Introducción
                @include movimiento-flecha-introduccion;
            }
        }
    }
}