@use 'var' as *;


html, body{
  background:
      radial-gradient(50% 50% at 100% 0,#3ba195 0%  5% ,#000000 6%  15%,#3ba195 16% 25%,#000000 26% 35%,#3ba195 36% 45%,
       #000000 46% 55%,#3ba195 56% 65%,#000000 66% 75%,#3ba195 76% 85%,#000000 86% 95%,
       #0000 96%),
      radial-gradient(50% 50% at 0 100%,#3ba195 0%  5% ,#000000 6%  15%,#3ba195 16% 25%,#000000 26% 35%,#3ba195 36% 45%,
       #000000 46% 55%,#3ba195 56% 65%,#000000 66% 75%,#3ba195 76% 85%,#000000 86% 95%,
       #0000 96%),
      radial-gradient(50% 50%,#3ba195 0%  5% ,#000000 6%  15%,#3ba195 16% 25%,#000000 26% 35%,#3ba195 36% 45%,
       #000000 46% 55%,#3ba195 56% 65%,#000000 66% 75%,#3ba195 76% 85%,#000000 86% 95%,
       #0000 96%),
      radial-gradient(50% 50%,#3ba195 0%  5% ,#000000 6%  15%,#3ba195 16% 25%,#000000 26% 35%,#3ba195 36% 45%,
       #000000 46% 55%,#3ba195 56% 65%,#000000 66% 75%,#3ba195 76% 85%,#000000 86% 95%,
       #0000 96%) 22px 22px;
  background-size: 44px 44px;
  background-color: #3ba195;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Fuente a utilizar Poppins
  .poppins-thin {
      font-family: "Poppins", serif;
      font-weight: 100;
      font-style: normal;
    }
    
    .poppins-extralight {
      font-family: "Poppins", serif;
      font-weight: 200;
      font-style: normal;
    }
    
    .poppins-light {
      font-family: "Poppins", serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .poppins-regular {
      font-family: "Poppins", serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .poppins-medium {
      font-family: "Poppins", serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .poppins-semibold {
      font-family: "Poppins", serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .poppins-bold {
      font-family: "Poppins", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .poppins-extrabold {
      font-family: "Poppins", serif;
      font-weight: 800;
      font-style: normal;
    }
    
    .poppins-black {
      font-family: "Poppins", serif;
      font-weight: 900;
      font-style: normal;
    }
    
    .poppins-thin-italic {
      font-family: "Poppins", serif;
      font-weight: 100;
      font-style: italic;
    }
    
    .poppins-extralight-italic {
      font-family: "Poppins", serif;
      font-weight: 200;
      font-style: italic;
    }
    
    .poppins-light-italic {
      font-family: "Poppins", serif;
      font-weight: 300;
      font-style: italic;
    }
    
    .poppins-regular-italic {
      font-family: "Poppins", serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .poppins-medium-italic {
      font-family: "Poppins", serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .poppins-semibold-italic {
      font-family: "Poppins", serif;
      font-weight: 600;
      font-style: italic;
    }
    
    .poppins-bold-italic {
      font-family: "Poppins", serif;
      font-weight: 700;
      font-style: italic;
    }
    
    .poppins-extrabold-italic {
      font-family: "Poppins", serif;
      font-weight: 800;
      font-style: italic;
    }
    
    .poppins-black-italic {
      font-family: "Poppins", serif;
      font-weight: 900;
      font-style: italic;
    }
}
