@use '../../styles/var' as *;

.acordeon{
    border-radius: 5px;
    background-color: $negro;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;

    button{
        width: 100%;
        border: none;
        background-color: rgb(0, 0, 0,0);
        cursor: pointer;
        p{
            color: $blanco-principal;
            text-align: left;
            margin: 0;
        }
        .ac-head{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span{
                font-size: 1.2rem;
                color: $blanco-principal;
                margin: 0;
            }
            svg{
                transform: rotate(-90deg);
                width: 1.8rem;
                transition: transform 0.3s ease-in-out;
            }
            .rotated {
                transform: rotate(0deg);
            }
        }
    }


    
    .ac-toggle{
        border-top: 1px solid $blanco-principal;
        display: flex;
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding-bottom: 1rem;
        overflow-y: auto;
        transition: 
            height 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
    
        .info{
            width: 50%;
            margin-right: 1rem;
            height: 100%;
            p{
                color: $blanco-principal;
                font-size: 1rem;
                text-align: left;
                margin-left: 0;
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    img{
                        margin: 0;
                        width: 1rem;
                    }
                    p{
                        color: $blanco-principal;
                        font-size: 1rem;
                    }
                }
            }
        }
        .p-img {
            display: flex;
            margin: 1rem auto;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        
     
    
    }
    .animated{
        max-height: 24rem;
        opacity: 1;
        transition: 
            height 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
    }

    // Estilado Scroll contenedor acordeon
    .ac-toggle::-webkit-scrollbar {
        width: 1rem; 
    }
    
    .ac-toggle::-webkit-scrollbar-thumb {
        border: 2px solid #fff; 
        background-color: $verde-oscuro; 
        border-radius: 5px;
    }
    
    .ac-toggle::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0, 0, 0,0.5); 
    }
    
    .ac-toggle::-webkit-scrollbar-track {
        background-color: #ccc; 
    }
}

// Reducción 25%
@media (max-width: 1024px){
    .acordeon {
        border-radius: 3.75px;
        background-color: $negro;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0.375rem;
    
        button {
            width: 100%;
            border: none;
            background-color: rgb(0, 0, 0, 0);
            cursor: pointer;
    
            p {
                color: $blanco-principal;
                text-align: left;
                margin: 0;
            }
    
            .ac-head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                span {
                    font-size: 0.9rem;
                    color: $blanco-principal;
                    margin: 0;
                }
    
                svg {
                    transform: rotate(-90deg);
                    width: 1.35rem;
                    transition: transform 0.3s ease-in-out;
                }
    
                .rotated {
                    transform: rotate(0deg);
                }
            }
        }
    
        .ac-toggle {
            border-top: 0.75px solid $blanco-principal;
            display: flex;
            height: 0;
            opacity: 0;
            overflow: hidden;
            padding-bottom: 0.75rem;
            overflow-y: auto;
            transition: 
                height 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    
            .info {
                width: 50%;
                margin-right: 0.75rem;
                height: 100%;
    
                p {
                    color: $blanco-principal;
                    font-size: 0.75rem;
                    text-align: left;
                    margin-left: 0;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: flex;
                        flex-direction: row;
                        gap: 0.75rem;
                        img{
                            width: 0.75rem;
                        }
                        p{
                            color: $blanco-principal;
                            font-size: 0.75rem;
                        }
                    }
                }
            }
    
            .p-img {
                display: flex;
                margin: 0.75rem auto;
                height: 100%;
                object-fit: cover;
                border-radius: 3.75px;
            }
        }
    
        .animated {
            max-height: 18rem;
            opacity: 1;
            transition: 
                height 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
        }
        // Estilado Scroll contenedor acordeon
        .ac-toggle::-webkit-scrollbar {
            width: 0.75rem; 
        }
        
        .ac-toggle::-webkit-scrollbar-thumb {
            border: 1.5px solid #fff; 
            border-radius: 3.75px;
        }
    }
    
}

// Reducción 40%
@media (max-width: 768px){
    .acordeon {
        border-radius: 3px;
        background-color: $negro;
        padding: 0.3rem 0.6rem;
        margin-bottom: 0.3rem;
    
        button {
            width: 100%;
            border: none;
            background-color: rgb(0, 0, 0, 0);
            cursor: pointer;
    
            p {
                color: $blanco-principal;
                text-align: left;
                margin: 0;
            }
    
            .ac-head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                span {
                    font-size: 0.72rem;
                    color: $blanco-principal;
                    margin: 0;
                }
    
                svg {
                    transform: rotate(-90deg);
                    width: 1.08rem;
                    transition: transform 0.3s ease-in-out;
                }
    
                .rotated {
                    transform: rotate(0deg);
                }
            }
        }
    
        .ac-toggle {
            border-top: 0.6px solid $blanco-principal;
            display: flex;
            height: 0;
            opacity: 0;
            overflow: hidden;
            padding-bottom: 0.6rem;
            overflow-y: auto;
            transition: 
                height 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    
            .info {
                width: 50%;
                margin-right: 0.6rem;
                height: 100%;
    
                p {
                    color: $blanco-principal;
                    font-size: 0.6rem;
                    text-align: left;
                    margin-left: 0;
                }
                
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: flex;
                        flex-direction: row;
                        gap: 0.6rem;
                        img{
                            width: 0.6rem;
                        }
                        p{
                            color: $blanco-principal;
                            font-size: 0.6rem;
                        }
                    }
                }
            }
    
            .p-img{
                display: flex;
                margin: 0.60rem auto;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
            }
    
     
        }
    
        .animated {
            max-height: 14.4rem;
            opacity: 1;
            transition: 
                height 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
        }
        .ac-toggle::-webkit-scrollbar {
            width: 0.6rem; 
        }
        
        .ac-toggle::-webkit-scrollbar-thumb {
            border: 1.2px solid #fff; 
            background-color: $verde-oscuro; 
            border-radius: 3px;
        }
    }    
}

@media (max-width: 480px){
    .acordeon {
        height: 100%;
        border-radius: 2px;
        background-color: $negro;
        padding: 0.2rem 0.4rem;
        margin-bottom: 0.2rem;
    
        button {
            width: 100%;
            border: none;
            background-color: rgb(0, 0, 0, 0);
            cursor: pointer;
    
            p {
                color: $blanco-principal;
                text-align: left;
                margin: 0;
            }
    
            .ac-head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                span {
                    font-size: 1rem;
                    color: $blanco-principal;
                    margin: 0;
                }
    
                svg {
                    transform: rotate(-90deg);
                    width: 0.72rem;
                    transition: transform 0.3s ease-in-out;
                }
    
                .rotated {
                    transform: rotate(0deg);
                }
            }
        }
    
        .ac-toggle {
            max-height: 0;
            border-top: 0.4px solid $blanco-principal;
            display: flex;
            flex-direction: column;
            opacity: 0;
            overflow: hidden;
            padding-bottom: 0.4rem;
            overflow-y: auto;
            transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    
            .info {
                width: 100%;

                p {
                    color: $blanco-principal;
                    font-size: 0.7rem;
                    text-align: left;
                    margin-left: 0;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    height: auto;
                    li{
                        margin: 0;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        gap: 0.5rem;
                        img{
                            margin: 0;
                            width: 0.7rem;
                        }
                        p{
                            color: $blanco-principal;
                            font-size: 0.7rem;
                        }
                    }
                }
            }
            
            .p-img{
                margin: 1rem auto 0;
                max-width: 100%;
                height: auto;
              
            }

        }
    
        .animated {
            max-height: 14.4rem;
            opacity: 1;
            transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
           
        }
        .ac-toggle::-webkit-scrollbar {
            width: 0.4rem; 
        }
        
        .ac-toggle::-webkit-scrollbar-thumb {
            border: 0.8px solid #fff; 
            background-color: $verde-oscuro; 
            border-radius: 2px;
        }
    }    
}